<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"> </script>
    </head>
    <body>
        <div ng-app="myApp" ng-controller="myCtrl">
            First Name: <input type="text" ng-model="fName"> </br>
            Last Name: <input type="text" ng-model="lName"> </br>
            Full Name: {{fName + " " + lName}}
        </div>
        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope){
                $scope.fName = "First Name" ; 
                $scope.lName = "Last Name" ;
            });
        </script>
    </body>
</html>